BankService/src/main/webapp/wsdl/Bank.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Bank" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Bank" xmlns:intf="http://Bank" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Bank" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getClientAccountInformation">
    <complexType>
     <sequence>
      <element name="clientName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getClientAccountInformationResponse">
    <complexType>
     <sequence>
      <element name="getClientAccountInformationReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="debit">
    <complexType>
     <sequence>
      <element name="clientName" type="xsd:string"/>
      <element name="amount" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="debitResponse">
    <complexType/>
   </element>
   <element name="clientCanBuy">
    <complexType>
     <sequence>
      <element name="clientName" type="xsd:string"/>
      <element name="amount" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="clientCanBuyResponse">
    <complexType>
     <sequence>
      <element name="clientCanBuyReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getClientAccountInformationResponse">

      <wsdl:part element="impl:getClientAccountInformationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="clientCanBuyRequest">

      <wsdl:part element="impl:clientCanBuy" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getClientAccountInformationRequest">

      <wsdl:part element="impl:getClientAccountInformation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="clientCanBuyResponse">

      <wsdl:part element="impl:clientCanBuyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="debitRequest">

      <wsdl:part element="impl:debit" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="debitResponse">

      <wsdl:part element="impl:debitResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Bank">

      <wsdl:operation name="getClientAccountInformation">

         <wsdl:input message="impl:getClientAccountInformationRequest" name="getClientAccountInformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:getClientAccountInformationResponse" name="getClientAccountInformationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="debit">

         <wsdl:input message="impl:debitRequest" name="debitRequest">

       </wsdl:input>

         <wsdl:output message="impl:debitResponse" name="debitResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="clientCanBuy">

         <wsdl:input message="impl:clientCanBuyRequest" name="clientCanBuyRequest">

       </wsdl:input>

         <wsdl:output message="impl:clientCanBuyResponse" name="clientCanBuyResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BankSoapBinding" type="impl:Bank">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getClientAccountInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getClientAccountInformationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getClientAccountInformationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="debit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="debitRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="debitResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="clientCanBuy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="clientCanBuyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="clientCanBuyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BankService">

      <wsdl:port binding="impl:BankSoapBinding" name="Bank">

         <wsdlsoap:address location="http://localhost:8080/BankService/services/Bank"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
